<!DOCTYPE html>
<html lang="{{.Language}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>

<body>
    <div id="app"></div>
    {{.Script}}
    <!-- Initialize the Scalar API Reference -->
    <script>
        // Docs
        // https://guides.scalar.com/scalar/scalar-api-references/getting-started
        Scalar.createApiReference('#app', {
            content: `{{.Content}}`,
            darkMode: true,
        })
    </script>
</body>

</html>